.app {
  $fontFamily: 'Roboto', Arial, Helvetica, sans-serif;

  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 320px;
  height: 100vh;
  background: center / cover no-repeat black;
}
